---
import Header from "../components/astro-components/Header.astro";
import LevelDescription from "../components/astro-components/LevelDescription.astro";
import TableTechnologies from "../components/astro-components/TableTechnologies.astro";
import Welcome from "../components/astro-components/Welcome.astro";
import { GitRepositoryList } from "../components/solid-components/GitRepositoryList";
import Layout from "../layout/Layout.astro";
import Footer from "../components/astro-components/Footer.astro";

import data from "../data/data";

---

<Layout title={ data.nameOwner }>
	<Welcome nameOwner={ data.nameOwner } />
	<Header
		name={ data.nameOwner }
		aboutOwnerDescription={ data.aboutOwnerDescription }
		socialNetworks={ data.socialNetworks }
	/>
	<main>
		<LevelDescription levels={ data.levels } />

		<TableTechnologies
			tableTitle={ data.firstTableTitle }
			tableDescription={ data.firstTableDescription }
			tableHeaders={ data.firstTableHeaders }
			tableContent={ data.firstTableContent }
		/>

		<TableTechnologies
			tableTitle={ data.secondTableTitle }
			tableDescription={ data.secondTableDescription }
		{/* TODO: Generalizar componente */}
			tableHeaders={ data.secondTableHeaders }
			tableContent={ data.secondTableContent }
		/>
		<GitRepositoryList gitUser={ data.githubUser } client:only />
	</main>
	<Footer socialNetworks={ data.socialNetworks } />
</Layout>