* {
    margin: 0;
    padding: 0;
}

.container-repositories {
    margin: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

@media (max-width: 800px) {
    .container-repositories {
        margin: 1rem;
    }
}