.repo-card {
    display: block;
    background-color: #222;
    color: white;
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.repo-card-title {
    font-size: 2rem;
    margin: 2rem auto;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #a00ea0;
    text-shadow: 0px 0px 4px #a00ea0;
    overflow-x: hidden;
    width: 90%;
}

.repo-card-container {
    display: block;
    padding: 2rem;
    padding-top: 0rem;
}

.repo-card-description {
    font-size: 1rem;
}

.repo-card-principal-lang {}

.repo-card-ref {
    color: rgb(90, 225, 235);
    text-decoration: none;
}