---
import SocialCard from "./SocialCard.astro";
---

<header>
    <div>
        <h1>Tamiel</h1>
    </div>
    <div>
        <h2>Social Networks</h2>
        <ul>
            <SocialCard href={ 'https://www.google.com' } socialNetwork="github"/>
            <SocialCard href={ 'https://www.google.com' } socialNetwork="linkedin"/>
            <SocialCard href={ 'https://www.google.com' } socialNetwork="twitter"/>
        </ul>
    </div>
</header>