---
import LevelDescriptionItem from './LevelDescriptionItem.astro';

interface Props {
    levels: Array<any>
}

const { levels } = Astro.props
---

<div class="container" >
    <h3>¿Que significan las estrellas?</h3>
    {
        levels.map(level => <LevelDescriptionItem {...level} /> )
    }
</div>