---
interface Props {
    socialNetwork: string
    href: string
}

const { socialNetwork, href } = Astro.props
---

<div class="social-card">
    <img class="social-card-img" src="/image-languages/astro.svg" alt="">
    <a class="social-card-link" href={ href } target="_blank" >{ socialNetwork }</a>
</div>

<style>
    .social-card {
        display: flex;
        align-items: center;
        height: 100px;
        border-radius: 5px;
        padding: 1rem;
		background-color: #131313;
    }

    .social-card-img {
        width: 90px;
    }

    .social-card-link {
        margin: 0 auto;
        font-size: 2.5rem;
        text-decoration: none;
        text-transform: capitalize;
        color: rgb(90, 225, 235);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .social-card:hover .social-card-link {
        text-shadow: 0px 0px 50px rgb(90, 225, 235);
    }
</style>