---
import type { SocialNetwork } from "../../model/SocialNetwok";
import SocialCard from "./SocialCard.astro";

interface Props {
    socialNetworks: SocialNetwork[]
}

const { socialNetworks } = Astro.props;

---

<div class="social-netwoks-container">
    <div class="cards-social-networks">
        {
            socialNetworks.map(socialNetwork =>
                <SocialCard
                    href={ socialNetwork.href }
                    socialNetwork={ socialNetwork.socialNetworkName }
                />
            )
        }
    </div>
</div>

<style>
    .social-netwoks-container {
        min-width: 50%;
    }

    .cards-social-networks {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1200px) {
        .cards-social-networks {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(auto-fill, 100%);
        }
    }
</style>