---
interface Props {
    socialNetwork: string
    href: string
}

const { socialNetwork, href } = Astro.props
---

<div class="social-card">
    <img class="social-card-img" src="https://ThomasA98.github.io/portafolio-web/image/T.svg" alt="">
    <a class="social-card-link" href={ href } target="_blank" >{ socialNetwork }</a>
</div>

<style>
    .social-card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        border-radius: 5px;
        padding: 1rem;
		background-color: #131313;
    }

    .social-card-img {
        width: 80px;
    }

    .social-card-link {
        font-size: 2.5rem;
        text-transform: capitalize;
    }

    .social-card:hover .social-card-link {
        text-shadow: 0px 0px 50px #5ae1eb;
    }
</style>