---
import type { Language } from '../../model/TableModel';
import TechnologyItem from './TechnologyItem.astro'

interface Props {
    tableTitle: string
    tableDescription: string
    tableHeaders: Array<string>
    tableContent: Array<Language>
}

const { tableHeaders, tableContent, tableTitle, tableDescription } = Astro.props;
---

<div class="container">
    <div>
        <h2 class="title">{ tableTitle }</h2>
        <p class="description">{ tableDescription }</p>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>{
                    tableHeaders.map(i => <th>{ i }</th>)
                }</tr>
            </thead>
            <tbody>{
                tableContent.map(lang => <tr>
                    <td><TechnologyItem {...lang} /></td>
                    <td>{
                        lang.technologies.map( tech =>
                            <TechnologyItem {...tech} />
                        )
                    }</td>
                </tr>)
            }</tbody>
        </table>
    </div>
</div>

<style>

    th {
        font-size: 1.5rem;
    }

    td {
        border-bottom: 1px solid #a00ea0;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .table {
        width: 100%;
    }

    .description {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .table thead {
        background-color: #a00ea0;
    }
</style>